@use 'config';

.discounts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1.2rem;
    }
}


.more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 2rem;

    input {
        padding: 0.5rem 4rem;
        margin: .5rem;

        &:focus {
            outline: none;
        }
    }

    a {
        margin: 1rem;
    }
}